
*{
  /*outline: 1px dotted blue; the outline here is to help see each elements space */
  box-sizing: border-box;
  
}



img.background {
  position: fixed;
  background-repeat: no-repeat;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

div.box{
  margin: 100px;
  /*border: 1px solid red;*/
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 100px;
  color: darkred;
  text-align: center;
  
}

img.picture {
  
  margin: 0 auto;
  /*the above three lines make the images with class picture centred */
  /*margin-left: -20px;*/
  width: 500px;
  height: 500px;
  flex: auto;
}

