img.background {
  position: fixed;
  background-repeat: no-repeat;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

h1{
  font-size: 100px;
  color: darkred;
  
}